@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1600px)
  /**/
@media only screen and (max-width: 1366px)
  /**/
@media only screen and (max-width: 1280px)
  /**/
@media only screen and (max-width: 1200px)
  /**/
@media only screen and (max-width: 1170px)
  /**/
@media only screen and (max-width: 992px)

  .container
    padding: 0 16px

@media only screen and (max-width: 768px)

  .mob__down
    display: none
  .mob__up
    display: flex
  .head__center
    padding-bottom: 100px
  .head__bottom
    .container
      height: 100px
      flex-direction: column
  #head__form
    padding: 12px
    margin-right: 0
    .h2
      font-size: 24px
      margin-bottom: 12px
  .head__top
    padding: 0 86px 0 12px
  .head__logo
    font-size: 30px
  .padding
    padding-top: 40px
    padding-bottom: 40px
  .review__card
    flex-direction: column
    padding: 10px 0
  .review__img
    margin-right: 0
    margin-bottom: 24px
  .h1, h1
    font-size: 28px
    margin-bottom: 20px
    text-align: center
  .before
    &:after, &:before
      display: none
  .quotes
    &:before, &:after
      top: 324px
      left: 10px
      font-size: 45px
    &:after
      top: auto
      left: auto
      right: 10px
      bottom: 55px
  .course__card
    width: 100%
    margin: 20px 0
  .course__bg
    display: none
  .kurs__card
    flex-direction: column
    .kurs__img
      margin-right: 0
      margin-bottom: 24px

@media only screen and (max-width: 660px)

  .blog__list__outer
    justify-content: center
    .item__slick
      max-width: 100%
      width: 340px

  .foot__top
    flex-direction: column
    .foot__contact, .foot__soc
      align-self: flex-start
      margin-top: 24px

@media only screen and (max-width: 480px)

  .head__menu.is-active
    left: 0

@media only screen and (max-width: 320px)
  /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
  /**/
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
  /**/
/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
  /**/
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
  /**/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
  /**/

@media (hover: hover)

  .foto__card:hover::before
    animation: circle .75s

@media (hover: none)
  .foto__card
    &:hover
      border: 0px solid $accent
  .blog__card
    img
      transform: scale(1.1)
    .mask
      opacity: 1
    h2, p, a.info
      opacity: 1
      transform: translateY(0px)
    p
      transition-delay: 0.1s
    a.info
      transition-delay: 0.2s

