$default-font: "Roboto", sans-serif
$default-size: 16px
$default-line-height: 1.4
$default-color: #FFFFFF
$placeholder-color: #909090
$max-width: 1400px
$container-padding: 0 32px
//color
$fon: #171717
$fon-card: #333333
$fon-btn: linear-gradient(180deg, #FEA621 0%, #FF6F00 100%)
$orange: #FF6F00
$gray: #909090
$red: #E00711
$gold: #B99C66
$all3: all .3s linear
$all5: all .5s linear

$border: 1px solid #333333
$radius: 3px


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)



$gutter: $grid-gutter-width
